


.zoom {
  display:         flex;
  justify-content: space-between;
}

.switch {
  text-align: center;
  font-size: 3em;
  border: dashed 1px darkgray;
}

.switch .on {
  color: forestgreen;
}

.switch .off {
  color: darkgrey;
}
